#!/bin/sh

{% for param, value in restic_backup_config_combined.items() %}
{{ param }}="{{ value }}"
{% endfor %}


echo "Restic backup"
{{ restic_binary_location }}/restic {{ restic_backup_global_flags }} backup --files-from={{ restic_backup_filestobackup_dst }}

{% if restic_backup_forget_snapshots %}
echo "Restic forget + prune"
{{ restic_binary_location }}/restic {{ restic_backup_global_flags }} forget --prune{% for k,v in restic_backup_keep.items() if not v == omit %} --keep-{{ k }}={{ v }}{% endfor %}
{% endif %}